{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block navigation %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-6 tomiddle">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Přihlaš se</h1>
                <label for="inputFirstname">Přihlašovací jméno</label>
                <input type="text" value="{{ last_username }}" name="firstname" id="inputFirstname" class="form-control" required autofocus>
                <label for="inputPassword">Heslo</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Příhlásit
                </button>
            </form>
        </div>
    </div>
{% endblock %}
