<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% endblock %}
       </head>
    <body class="main">
    {% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: aliceblue;">
            <a class="navbar-brand">Redakční web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href={{ path("app_main") }}>Domů</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href={{ path("app_dashboard") }}>Archív</a>
                    </li>
                    <li class="nav-item active">
                        {% if is_granted('ROLE_WRITER') or is_granted("ROLE_EDITOR") %}<a class="nav-link" href={{ path("articles_list") }}>Články</a>{% endif %}
                    </li>
                    <li class="nav-item active">
                        {% if is_granted('ROLE_USER') %} <a class="nav-link" href={{ path("articles_list") }}>Časopis</a>{% endif %}
                    </li>
                    <li class="nav-item active">
                        {% if is_granted("ROLE_ADMIN") %} <a class="nav-link" href="{{ path("app_user_create") }}">Přidat uživatele</a>{% endif %}
                    </li>
                    <li class="nav-item active" style="position:absolute; right:0; margin-right:100px;">
                        {% if is_granted("ROLE_USER") %} <a class="nav-link" href="{{ path("app_user_update") }}">Upravit Profil</a>{% endif %}
                    </li>
                    <li class="nav-item active" style="position:absolute; right:0;">
                        {% if is_granted('ROLE_USER') %} <a class="nav-link" href={{ path("app_logout") }}>Odhlásit</a>{% endif %}
                    </li>
                    {% if not app.user %}
                        <li class="nav-item active" style="position:absolute; right:0;">
                            <a class="nav-link" href={{ path("app_login") }}>Přihlásit se</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active" style="position:absolute; right:0; margin-right:150px;">
                        <a class="nav-link" href="mailto:nepis@plsfaktne.cz" style="color:blue;">SEM PIŠTĚ <small style="font-size:5px;">čuráci</small></a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
