{% extends 'base.html.twig' %}

{% block body %}
   <div class="container-fluid">
      <h1>Informace o Článku</h1>

      <table class="table table-striped ">
         <tbody>
         <tr>
            <td>Id:</td>
            <td>{{ article.getId }}</td>
         </tr>
         <tr>
            <td>Author:</td>
            <td>{{ article.getCreatedBy.firstname }}</td>
         </tr>
         <tr>
            <td>Titulek:</td>
            <td>{{ article.getTitle}}</td>
         </tr>
         <tr>
            <td>Obsah:</td>
            <td>{{ article.getContent}}</td>
         </tr>
         <tr>
            <td>Verze:</td>
            <td>{{ article.getVersion}}</td>
         </tr>
         </tbody>
      </table>
   </div>
{% endblock %}