{% extends 'base.html.twig'%}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-3">Nový článek</h1>
            <a class="col-1" href={{ path("article_new") }}><button type="button" class="btn btn-info">Nový článek</button></a>
        </div>
        <h1>Moje články</h1>
    {% for assignedArticle in assignedArticles %}
    <div class="col-12 space">
        <div class="row">
             <div class="col-1">{{ assignedArticle.Title }}:</div>
            <div class="col-1"> <a href={{ path("article_view", {"article": assignedArticle.id}) }}><button class="btn btn-success col-12" type="button">Zobrazit</button></a></div>
            <div class="col-1"><a href={{ path("article_edit", {"article": assignedArticle.id}) }}><button class="btn btn-warning col-12" type="button" >Upravit</button></a></div>
            <div class="col-2"><a href={{ path("article_submit", {"article": assignedArticle.id}) }}><button class="btn btn-danger col-12" type="button">Odeslat redakci</button></a></div>
        </div>
    </div>
    {% endfor %}
    <h1>Ostatní články</h1>
    {% for otherArticles in otherArticles %}
        <a>{{ otherArticles.Title }}</a><br>
    {% endfor %}
    </div>
{% endblock %}